# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust build artifacts
src-tauri/target/
src-tauri/gen/android/app/build

# Tauri specific logs and local storage
src-tauri/*.log
src-tauri/binaries/

# Environment variables
.env
.env.local
.env.*.local

# Tauri sign keys (PENTING: Jangan sampai bocor)
*.key
*.pub

# Frontend
node_modules/
dist/
build/

# Catatan config
config-ku

# .apk output
Si-LibreKost-Admin.apk
Si-LibreKost-Admin.apk.idsig